.git
work/
.nextflow*
results/
manual_gating_output/
spatial_quantification_results*/
models_cache/
cellpose_models/
rawdata/
*.h5ad
*.zip
*.tar.gz
archive/
__pycache__/
*.pyc
venv/
.venv/
.pytest_cache/
