archive/*
*.log
*.tmp
.DS_Store
quick_test_*/
results/*
unmicst*/
rawdata/*
mcmicro_env/*
.nextflow*
phenotype_analysis/*
spatial_analysis/outputs/*
scripts/minerva_author.exe
manual_gating_output/*
phenotyping_output/*
scimap_analysis/*
spatial_analysis_output/*
subtype_analysis_output/*
work/*
test.ipynb
run_cellprofiler_analyst.sh
run_complete_spatial_analysis.sh
run_enhanced_spatial.sh
archive_manual_gating_output/*
cellpose_models/*
manual_gating_output_v2/*
manual_gating_output_v3/*
tumor_spatial_analysis/*
__pycache__/*
efficient_spatial_analysis/*
comprehensive_spatial_analysis/*